/******* Header *******/
header {
  display: flex;
  justify-content: space-around;
  background-image: linear-gradient(rgba(100, 100, 133, 0.2), rgba(203, 203, 172, 0.2)),url('/img/code-banner.jpg');
  width: 100%;
  height: auto;
}

.logo {
  margin-bottom: 0;
}

.title-header {
  color: #fff;
}

.first {
  color: #fff;
  text-decoration: none;
  background-color:rgba(204, 204, 204, 0.5);
  padding: 5%;
  border-radius: 3px;
}

.first:hover {
  background-color:rgba(204, 204, 204, 0.9);
}

.sociaux a {
  margin-right: 10%;
}

/******* Main *******/

.about-us {
  background: #5569DC0F;
  padding: 2%;
}

.title-about, .title-contact {
  text-align: center;
  text-transform: uppercase;
  font-family: Roboto;
  font-size: 1.5em;
  font-style: italic;
  font-weight: 400;
  letter-spacing: 0em;
  color: #00000080;
}

.title-contact { 
  padding-top: 1%;
}

.text-about {
  max-width: 700px;
  margin: 0 auto;
  line-height: 25px;
}

.section-right, .section-left {
  display: flex;
  margin:0 95px;
}

h3 {
  color: #976B68;
}

.section-right ul li, .section-left ul li {
  max-width: 500px;
}


ul {
  padding: 0;
  padding-right: 50px;
}

.footer-contact {
  background-color:#5569DC26;
}

.main-contact {
  display: flex;
  flex-direction: column;
  /* text-align: center; */
}

.contact-me {
  color: #00000090;
  font-family: Roboto;
  font-size: 1.5em;
  text-decoration: none;
  padding: 0.5%;
  margin: 0 auto;
}

a:hover {
  text-decoration: underline;
}

.sociaux-footer {
  display: flex;
  justify-content: space-around;
}

.footer-contact p {
  background: #C4C4C4;
  color: #00000080;
  font-size: 1.5em;
  line-height: 53px;
  font-family: Roboto;
  font-style: italic;
  text-align: center;
  margin: 0;
}







